.game-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
}

.game-options {
  opacity: 0;
  position: fixed;
  z-index: -100;
  pointer-events: none;
  transition: opacity .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  &.visible {
    opacity: 1;
    z-index: 5;
    pointer-events: visible;
    background: rgba(255,255,255,.95);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .row {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
  }
}
