.game-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
}

.game-logo {
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  padding-top: 2rem;
  img {
    height: 6rem;
  }
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 60%,rgba(255,255,255,0) 100%);
  padding-bottom: 6rem;
  pointer-events: none;
}

.game-options {
  opacity: 0;
  position: fixed;
  z-index: -100;
  pointer-events: none;
  transition: opacity .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  &.visible {
    opacity: 1;
    z-index: 5;
    pointer-events: visible;
    background: rgba(255,255,255,.95);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &.bg-dark {
      background: rgba(0,0,0,.75);
      & > * {
        color: white !important;
      }
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
